<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    
    # IMPORTANTE: Captura el Header de Autorización para JWT
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si el archivo existe (como las fotos subidas), ábrelo
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no existe, mándalo al index.php del backend (Backend Router)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>