<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    
    # Eliminamos el RewriteBase fijo para que Apache lo detecte según la carpeta
    # RewriteBase /backend/public/ 

    # Si el archivo o directorio existe, se abre normalmente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Todo lo demás se envía al index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>