<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # 1. Redirigir /index a la raíz (Limpieza de URL)
    RewriteRule ^index/?$ ./ [R=301,L]

    # 2. Si el archivo o carpeta existe físicamente (ej. public/css/styles.css), ábrelo
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 3. Todo lo demás se envía al index.php de la raíz (Frontend Router)
    # Usamos QSA para mantener los parámetros de la URL (?id=1, etc)
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>